<div class="home__container">
    <app-card 
    gameFoto="assets/godofwar.jpeg" 
    gameLabel="Exclusivo" 
    gamePreco="R$150,00"
    gameType="PS5 PS4">
    </app-card>

    <app-card 
    gameFoto="assets/BTF1.jpeg" 
    gameLabel="Ação" 
    gamePreco="R$250,00"
    gameType="PS5 PS4 XBOX">
    </app-card>

    <app-card 
    gameFoto="assets/fifa24.jpeg" 
    gameLabel="Lançamento" 
    gamePreco="R$300,00"
    gameType="PS5 PS4 XBOX PC">
    </app-card>

    <app-card 
    gameFoto="assets/GTAV.jpeg" 
    gameLabel="Se aventure-se" 
    gamePreco="R$100,00"
    gameType="PS5 PS4 XBOX PC">
    </app-card>

    <app-card 
    gameFoto="assets/darkandsoul.jpeg" 
    gameLabel="Supere-se" 
    gamePreco="R$150,00"
    gameType="PS5 PS4 XBOX PC">
    </app-card>
</div>
