*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,38,145,1) 0%, rgba(18,115,203,1) 41%, rgba(26,67,214,1) 87%);
}